<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-body"> 
                    <div class="form-body">
                        <form action="{url}/{module}/{controller}/save/{form->id|eiif:new:__this}/ajax{query|eiif::?}{query}" class="form-ajax form-post show-alert" name="form1" method="post" novalidate >
                            <div class="row p-t-20">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Nome</label>
                                        <div class="controls">
                                            <input name="nome" id="nome" type="text" class="form-control validform"   value="{form->nome}" placeholder="Nome">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Cpf</label>
                                        <div class="controls">
                                            <input name="cpf" id="cpf" type="text" class="form-control validform"   value="{form->cpf}" placeholder="Cpf">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div class="controls">
                                            <input name="email" id="email" type="text" class="form-control validform"   value="{form->email}" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Celular</label>
                                        <div class="controls">
                                            <input name="celular" id="celular" type="text" class="form-control validform"   value="{form->celular}" placeholder="Celular">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Endereco</label>
                                        <div class="controls">
                                            <input name="endereco" id="endereco" type="text" class="form-control validform"   value="{form->endereco}" placeholder="Endereco">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Complemento</label>
                                        <div class="controls">
                                            <input name="complemento" id="complemento" type="text" class="form-control validform"   value="{form->complemento}" placeholder="Complemento">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Cep</label>
                                        <div class="controls">
                                            <input name="cep" id="cep" type="text" class="form-control validform"   value="{form->cep}" placeholder="Cep">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Bairro</label>
                                        <div class="controls">
                                            <input name="bairro" id="bairro" type="text" class="form-control validform"   value="{form->bairro}" placeholder="Bairro">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Cidade</label>
                                        <div class="controls">
                                            <input name="cidade" id="cidade" type="text" class="form-control validform"   value="{form->cidade}" placeholder="Cidade">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Uf</label>
                                        <div class="controls">
                                            <input name="uf" id="uf" type="text" class="form-control validform"   value="{form->uf}" placeholder="Uf">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-actions">
                                        <a href="{url_cancel}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Voltar</a>
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-success" value="apply" name="acao" style="display: {form->id|eiif:none:}"> <i class="fa fa-check"> </i> Aplicar </button>
                                            &nbsp;
                                            <button type="submit" class="btn btn-info pull-right" value="save" name="acao"> <i class="fa fa-save"> </i> Salvar </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    {scripts}
</script>