<div class="text-center"><h2>Configurações</h2></div>
<!-- BEGIN update -->
        <div class="form-group">
            <label for="configuracao_id" class="col-sm-2 control-label"><a href="javascript:void(0)" onclick="if(confirm('Deseja excluir esse registro?')) self.location='{linkdelete}'" class="btn btn-mini btn-danger" title="Excluir"><i class="fas fa-trash"></i></a></label>
            <div class="col-sm-10">
                {nome}({dominio})
                </div>
        </div>
<!-- END update -->