<!DOCTYPE html>
<html lang="pt-br">
    {head}
    <body class="fix-header fix-sidebar card-no-border"> 
        <div class="preloader" style="display: none;">
            <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle> </svg>
        </div>
        <div class="main-wrapper">
            {header}
            <!-- Left side column. contains the logo and sidebar -->
            {sidebar}
            <!-- Content Wrapper. Contains page content -->
            <div class="page-wrapper" id="content">
                {content}
            </div>
            <iframe id="auxiliar_frame" name="auxiliar_frame" width="0" height="0"></iframe><!-- /.content-wrapper -->
            <!-- Main Footer -->
            <footer class="footer" >
                <!-- To the right -->
                <div class="pull-right hidden-xs">
                    <strong>Copyright © 2020  <a href="#">Maquinaweb</a>.</strong> Todos os direitos reservados.
                </div>
                <!-- Default to the left -->
                <div class="pull-left">Easypublish v{system_version}</div>
            </footer>
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div><!-- ./wrapper -->
        {script}
    </body>
</html>
