<!DOCTYPE html>
<html lang="pt-br">
    {head}
    <body class="fix-header fix-sidebar card-no-border mini-sidebar show-sidebar"> 
        <div class="preloader" style="display: none;">
            <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle> </svg>
        </div>
        <div class="main-wrapper">
            {header}
            <!-- Left side column. contains the logo and sidebar -->
            {sidebar}

            {content}
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
        </div><!-- ./wrapper -->
        {script}
    </body>
</html>
